@model InvoicesApp.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>

        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceItems)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>Price</th>
                </tr>


                @foreach (var item in Model.InvoiceItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TotalCost)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total W/ Taxes:</b></td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.TotalCostWithTax)
                    </td>
                </tr>
            </table>

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
